@import "../../styles/global.scss";

.bookCardContainer {
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--white);
  padding-bottom: 0.625rem;

  border-radius: 1rem;
  overflow-y: scroll;

  img {
    max-width: 30rem;
    height: 30rem;
    border-radius: 1.5rem;

    @media (max-width: 300px) {
      max-width: 25rem;
      height: 25rem;
    }
  }

  h3, legend, p {
    width: 100%;
    text-align: center;
  }

  > svg {
    align-self: flex-end;
    margin: 10px 10px 10px 0;
    cursor: pointer;
    color: var(--grey);
    font-size: 1.5rem;
    transition: all 0.3s;
    overflow: visible;
    &:hover {
      opacity: 0.5;
    }
  }
}

.bookInfos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.62rem 1.25rem;

  .price {
    margin: 1rem 0;
    font-weight: bold;
  }
}

.bookTitle {
  font-size: 1.2rem;
  line-height: 1rem;
  letter-spacing: 0.01em;
  padding: 0.5rem 1rem 0 1rem;
  text-align: center;
  line-height: 1.25;

  display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.bookDetails {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  div {
    margin-bottom: 10px;
    p{
      height: 2.5rem;
    }
    
    svg {
      margin-bottom: -2px;
    }
  }
}

.loaderAndErrorContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}