.checkoutSuccessContainer {
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);

  border-radius: 1rem;

  h1, h3 {
    text-align: center;
    color: var(--grey);
    margin-bottom: 1rem;
  }

  svg {
    color: var(--green);
    margin-bottom: 1rem;
  }

  button {
    padding: 1rem;
  }
}