.checkoutSuccessContainer {
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);

  border-radius: 1rem;

  h1, h3 {
    text-align: center;
    color: var(--grey);
    margin-bottom: 1rem;
  }

  svg {
    color: var(--green);
    margin-bottom: 1rem;

  }

  button {
    background: linear-gradient(114.44deg, var(--green) 0%, var(--lightGreen) 100%);
    color: var(--white);
    border: 0;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    align-self: center;
    padding: 1rem;
    transition: opacity 0.2s;
    z-index: 10;
    margin-top: 0.625rem;

    &:hover {
      opacity: 0.9;
    }
  }
}