@import "../../styles/global.scss";

.cartContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    margin-bottom: 1rem;
  }
}

.cartItem {
  min-height: 12rem;
  width: 22rem;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-color: var(--white);
  box-shadow: 0px 81px 106px rgba(0, 0, 0, 0.07), 0px 10.1425px 13.2728px rgba(0, 0, 0, 0.0290085);

  border-radius: 1rem;

  @media (min-width: 768px) {
    width: 40rem;
  }

  img {
    max-width: 10rem;
    height: 10rem;

    border-radius: 1.5rem;
  }

  h3, legend {
    max-width: 18rem;
  }

  .subTotal {
    padding-top: 0.5rem;
  }

  .amount {
    display: flex;
    align-items: center;

    p {
      color: var(--grey);
      padding: 6px;
    }
  }

  button {
    background: none;
    border: 0;
    padding: 6px;

    svg {
      color: var(--green);
      transition: all 0.2s;
    }

    &:hover {
      svg {
        color: var(--lightGreen)
      }
    }

    &:disabled {
      svg {
        color: var(--mediumGrey);
        cursor: not-allowed;
      }
    }
  }

  .removeCartItem {
    margin-left: 5px;
    font-size: 26px;
  }
}

.total {
  height: 4rem;
  width: 22rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  margin-bottom: 10px;
  background-color: var(--white);
  box-shadow: 0px 81px 106px rgba(0, 0, 0, 0.07), 0px 10.1425px 13.2728px rgba(0, 0, 0, 0.0290085);

  border-radius: 1rem;

  color: var(--mediumGrey);
  font-size: 18px;
  font-weight: bold;

  strong {
    font-size: 28px;
    margin-left: 5px;
  }

  @media (min-width: 768px) {
    width: 40rem;
  }
}

.cartEmpty {
  @extend .total;
  justify-content: center;
}

.backContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 22rem;
  margin-bottom: -2.5rem;
  transition: all 0.2s;
  
  a {
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grey);
    cursor: pointer;
    z-index: 1;

    svg {
      margin: 0;
      font-size: 2rem;
    }
  }

  &:hover {
    opacity: 0.8;
  }

  @media (min-width: 768px) {
    width: 40rem;
    margin-left: 0;
  }
}