* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fcfcfc;
  --lightGrey: #efefef;
  --darkGrey: #222222;
  --grey: #555555;
  --mediumGrey: #888888;
  --green: #65a300;
  --lightGreen: #7ecb00;
}

html {
  @media(max-width: 1080px) {
    font-size: 93.75%;
  }

  @media(max-width: 720px) {
    font-size: 87.5%;
  }
}

body, input, text-area, select, button {
  font: 400 1rem "Roboto", sans-serif;
}

body { 
  background-color: var(--lightGrey);
  -webkit-font-smoothing: antialiased;
}

p, span, legend {
  color: var(--grey);
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
  color: var(--darkGrey);
}

button {
  cursor: pointer;  
}

a {
  color: inherit;
  text-decoration: none;
}