@import "../../styles/global.scss";

.bookCardContainer {
  height: 29rem;
  width: 21.438rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0px 81px 106px rgba(0, 0, 0, 0.07), 0px 10.1425px 13.2728px rgba(0, 0, 0, 0.0290085);
  cursor: pointer;

  img {
    max-width: 15rem;
    height: 15rem;

    border-radius: 1.5rem;
  }

  h3, legend, p {
    width: 100%;
    text-align: center;
  }

  &:hover {
    outline: 1.5px solid var(--green);
  }
}

.bookInfos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.62rem 1.25rem;

  p {
    margin-top: 1rem;
  }
}

.bookTitle {
  height: 3.438rem;
  font-size: 1.2rem;
  line-height: 1rem;
  letter-spacing: 0.01em;
  padding: 0.5rem 1.3rem 0 1rem;
  text-align: center;
  line-height: 1.25;

  display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
  overflow: hidden;
}

.addToCardButton {
  background: linear-gradient(114.44deg, var(--green) 0%, var(--lightGreen) 100%);
  color: var(--white);
  border: 0;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-self: center;
  margin-bottom: 10px;
  transition: opacity 0.2s;
  z-index: 10;

  &:hover {
    opacity: 0.9;
  }

  div {
    display: flex;
    align-items: center;
    padding: 12px;
    background: rgba(0, 0, 0, 0.1);
    
    svg {
      margin-right: 5px;
    }
  }

  span {
    flex: 1;
    text-align: center;
    font-weight: bold;
    padding: 0 10px;
    color: var(--white);
  }   
}